@font-face {
  font-family: 'San Francisco Pro Text';
  src: url('./assets/fonts/SFProText-Regular.ttf') format('truetype');
  font-weight: 400; /* Regular */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'San Francisco Pro Text';
  src: url('./assets/fonts/SFProText-Bold.ttf') format('truetype');
  font-weight: 700; /* Bold */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'San Francisco Pro Text';
  src: url('./assets/fonts/SFProText-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'San Francisco Pro Text';
  src: url('./assets/fonts/SFProText-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

:root {
  font-family: 'San Francisco Pro Text', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --app-background-stripe: #00a884;
  --WDS-app-wash: #dbd8d4;
  --WDS-cool-gray-50: #f7f8fa;
  --WDS-cool-gray-75: #f1f2f4;
  --app-background: #eae6df;
  --app-background-deeper: #d1d7db;
  --background-default: white;
  
  --primary: #3b4a54;
  --primary-strong: #111b21; 
  --secondary: #667781; 
  --light-dark: #767676;
  --danger: #ea0038;
  --button-primary-background: #008069;
  --button-primary-background-hover: #017561;

  --icon: #54656f;

  --compose-input-border: white;
  --rich-text-panel-background: #f0f2f5;
  --compose-input-background: white;
  --conversation-panel-background: #efeae2;

  --border-list: #e9edef;

  --h-pane-header: 2.75rem;
  --panel-header-background: #f0f2f5;
  --panel-footer-background: #f0f2f5;

  --conversation-header-border: #d1d7db;

  --outgoing-background: #d9fdd3;
  --incoming-background: white;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
p {
  margin: 0;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--WDS-app-wash, var(--app-background));
  background-image: linear-gradient(to bottom, var(--WDS-app-wash, var(--app-background)), var(--WDS-app-wash, var(--app-background-deeper)));
}
body::after{
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--app-background-stripe);
  width: 100%;
  height: 127px;
  z-index: -1;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
/* Стили для скроллбара */
::-webkit-scrollbar {
  width: 8px; /* Ширина скроллбара */
}

::-webkit-scrollbar-track {
  background: rgba(11, 20, 26, 0.2); /* Цвет трека */
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0); /* Цвет ползунка */
  border-radius: 4px; /* Закругление углов ползунка */
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.2); /* Цвет ползунка при наведении */
}

/* Для Firefox */
* {
  scrollbar-width: thin; /* Тонкий скроллбар */
  scrollbar-color: rgba(11, 20, 26, 0.2) rgba(0, 0, 0, 0); /* Цвет трека и ползунка */
}